[mysqld_safe]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server     = utf8mb4_general_ci

skip-host-cache
skip-name-resolve
skip-external-locking
explicit-defaults-for-timestamp

[mysqldump]
quick
max-allowed-packet    = 128M
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
