commands:
  00set_time_zone:
    command: ln -f -s /usr/share/zoneinfo/Asia/Seoul /etc/localtime
  10file_size:
    command: "rm -f /etc/php.d/99uploadsize.ini.bak"

files:
  "/etc/php.d/99uploadsize.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
        upload_max_filesize=10M
        post_max_size=10M

container_commands:
  10_permission:
    command: "mkdir /var/app/current/storage/logs/sql; chown webapp:webapp /var/app/current/storage/logs/sql"
  20_migration:
    command: "php /var/app/current/artisan migrate --force"
    test: '[[ $SERVER_ROLE = "master" ]]'

