packages:
  python:
    supervisor: []

files:
  "/tmp/artisan_scheduler_prod":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root . /opt/elasticbeanstalk/support/envvars && php /var/app/current/artisan schedule:run >> /dev/null 2>&1

  "/tmp/artisan_scheduler_test":
    mode: "000644"
    owner: root
    group: root
    content: |
      * 0-2,8-23 * * * root . /opt/elasticbeanstalk/support/envvars && php /var/app/current/artisan schedule:run >> /dev/null 2>&1

container_commands:
  30_schedule:
    command: "mv /tmp/artisan_scheduler_prod /etc/cron.d/artisan_scheduler"
    test: '[[ $APP_ENV = "development" ]]'
  40_schedule:
    command: "rm -rf /etc/cron.d/artisan_scheduler"
    test: '[[ $SERVER_ROLE != "master" ]]'

  50_supervisor_config:
    command: "ls -al /var/app/staging/.ebextensions"
    test: '[[ $SERVER_ROLE = "master" ]]'
  51_supervisor_config:
    command: "rm -fR /etc/supervisor; cp -ar /var/app/staging/.ebextensions/supervisor/ /etc/"
    test: '[[ $SERVER_ROLE = "master" ]]'
  52_supervisor_config:
    command: "chown -R root.root /etc/supervisor"
    test: '[[ $SERVER_ROLE = "master" ]]'
  53_supervisor_config:
    command: "mkdir -p /var/log/supervisor"
    test: '[[ $SERVER_ROLE = "master" ]]'
  54_supervisor_setting:
    command: "sudo chmod +x /var/app/staging/.ebextensions/supervise.sh"
    test: '[[ $SERVER_ROLE = "master" ]]'
  55_supervisor_setting:
    command: "/usr/bin/dos2unix /var/app/staging/.ebextensions/supervise.sh"
    test: '[[ $SERVER_ROLE = "master" ]]'
  56_supervisor_setting:
    command: "/var/app/staging/.ebextensions/supervise.sh"
    test: '[[ $SERVER_ROLE = "master" ]]'
  57_supervisor:
    command: "killall supervisord; supervisord -c /etc/supervisor/supervisord.conf"
    test: '[[ $SERVER_ROLE = "master" ]]'
  58_supervisor:
    command: "supervisorctl reread; supervisorctl update"
    test: '[[ $SERVER_ROLE = "master" ]]'
  59_supervisor:
    command: "supervisorctl start laravel-worker:*"
    test: '[[ $SERVER_ROLE = "master" ]]'

  60_restart_laravel_queue:
    command: ". /opt/elasticbeanstalk/deployment/env && php /var/app/current/artisan queue:restart"
    test: '[[ $SUPER_ROLE = "master" ]]'

