commands:
  set_time_zone:
    command: ln -f -s /usr/share/zoneinfo/Asia/Seoul /etc/localtime
  11install_supervisor:
    command: "easy_install supervisor"
    test : '[ ! /etc/supervisor ] && echo "supervisor not installed"'
  99file_size:
    command: "rm -f /etc/php.d/99uploadsize.ini.bak"

packages:
  yum:
    python3-setuptools: []
    docker: []
files:
  "/tmp/artisan_scheduler_prod":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root . /opt/elasticbeanstalk/support/envvars && php /var/app/current/artisan schedule:run >> /dev/null 2>&1

  "/tmp/artisan_scheduler_test":
    mode: "000644"
    owner: root
    group: root
    content: |
      * 0-2,8-23 * * * root . /opt/elasticbeanstalk/support/envvars && php /var/app/current/artisan schedule:run >> /dev/null 2>&1

  "/etc/php.d/99uploadsize.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
        upload_max_filesize=10M
        post_max_size=10M
  "/tmp/t2-test.sh":
    mode: "000755"
    content: |
      #!/bin/bash
      instanceType=$(curl -s http://169.254.169.254/latest/meta-data/instance-type)
      if [[ "$instanceType" =~ ^t2\. ]]
      then
        exit 0
      else
        exit 1
      fi

container_commands:
  10_permission:
    command: "mkdir /var/app/ondeck/storage/logs/sql; chown webapp:webapp /var/app/ondeck/storage/logs/sql"
  20_migration:
    command: "php /var/app/ondeck/artisan migrate --force"
    test: '[[ $SERVER_ROLE = "master" ]]'
  30_schedule:
    command: "mv /tmp/artisan_scheduler_prod /etc/cron.d/artisan_scheduler"
    test: '[[ $APP_ENV = "production" ]]'
  31_schedule:
     command: "mv /tmp/artisan_scheduler_test /etc/cron.d/artisan_scheduler"
     test: '[[ $APP_ENV != "production" ]]'
  40_schedule:
    command: "rm -rf /etc/cron.d/artisan_scheduler"
    test: '[[ $SERVER_ROLE != "master" ]]'
  50_supervisor_config:
    command: "ls -al /var/app/ondeck/.ebextensions; mv /var/app/ondeck/.ebextensions/supervisor/ /etc/; chown -R root.root /etc/supervisor; mkdir -p /var/log/supervisor"
    test: '[[ $SERVER_ROLE = "master" ]]'
  51_supervisor_setting:
    command: "sudo chmod +x /var/app/ondeck/.ebextensions/supervise.sh; /var/app/ondeck/.ebextensions/supervise.sh"
    test: '[[ $SERVER_ROLE = "master" ]]'
  52_supervisor:
    command: "supervisord -c /etc/supervisor/supervisord.conf; /usr/local/bin/supervisorctl reread; supervisorctl update; /usr/local/bin/supervisorctl start laravel-worker:*"
    test: '[[ $SERVER_ROLE = "master" ]]'
  53_restart_laravel_queue:
    command: ". /opt/elasticbeanstalk/support/envvars && php /var/app/ondeck/artisan queue:restart"
    test: '[[ $SUPER_ROLE = "master" ]]'
  99_set-t2-unlimited:
    command: |
      aws ec2 modify-instance-credit-specification --region $(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone | sed 's/[a-z]$//') --instance-credit-specification '[{"InstanceId": "'"$(curl -s http://169.254.169.254/latest/meta-data/instance-id)"'","CpuCredits": "unlimited"}]'
    test: "[ /tmp/t2-test.sh ]"
